<footer class="page-footer font-small red fixed-bottom">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2018 Copyright:
    <a routerLink=""> Alexandre</a>
  </div>
</footer>