<div class="py-5">
  <div class="container py-5">
      <div class="row">
          <div class="offset-2 col-sm-4 mb-5 ml-5 card" *ngFor="let domaine of all_domaine">
              <div class="card-body">
                  <h5 class="card-title">
                      <i class="fa fa-{{domaine.domaine_icon}} dark-grey- fa-3x mb-4" aria-hidden="true"></i>
                  </h5>
                  <h5 class="card-title">{{domaine.domaine_title}}</h5>
                  <h6 class="card-subtitle mb-2 text-muted">{{domaine.domaine_color}}</h6>
                  <p class="card-text">{{domaine.domaine_description}}</p>
                  <a (click)="delete_domaine(domaine.domaine_id)" class="card-link red-text">Delete Domaine</a>
                  <a (click)="listOfDomaines()" class="card-link text-primary">Modify Domaine</a>
              </div>
          </div>
      </div>
      <div class="fixed-action-btn btn-rounded" style="bottom: 65px; right: 24px;" >
          <a class="btn-floating btn-sm red" data-toggle="modal" data-target="#add_domaine">
              <i class="fa fa-plus"></i>
          </a>
      </div>

  </div>
</div>
<!--Modal: modalPush-->
<div class="modal fade" id="add_domaine" tabindex="-1" role="dialog" aria-labelledby="Adding domaine"
     aria-hidden="true">
    <div class="modal-dialog modal-notify modal-info modal-lg" role="document">
        <!--Content-->
        <div class="modal-content text-center">
            <!--Header-->
            <div class="modal-header d-flex justify-content-center">
                <p class="heading">Please write information about this new domaine</p>
            </div>

            <!--Body-->
            <div class="modal-body">
                <div class="row">
                    <div class="col-6">
                        <div class="col-md-12 mb-5 " >
                            <!--Panel-->
                            <div class="card card-body {{domaine_interact.color}} hoverable">
                                <i class="fa fa-{{domaine_interact.icon}} dark-grey- fa-3x mb-4" aria-hidden="true"></i>
                                <h5 class="font-weight-bold text-uppercase mb-4 text-{{domaine_interact.textcolor}}">{{domaine_interact.title}}</h5>
                                <p class="text-{{domaine_interact.textcolor}}">{{domaine_interact.description}}</p>
                            </div>
                            <!--/.Panel-->
                            <p class="alert-success">{{adding_message}}</p>
                        </div>
                    </div>
                    <div class="col-5">
                        <form class="form-group">
                            <div class="md-form">
                                <input type="text" id="icon" class="form-control" (keyup)="onIcontaped($event)">
                                <label for="icon">icon</label>
                            </div>
                            <div class="md-form">
                                <input type="text" id="title" class="form-control" (keyup)="onTitle($event)">
                                <label for="title">title</label>
                            </div>
                            <div class="md-form">
                                <input type="text" id="color" class="form-control" (keyup)="onColor($event)">
                                <label for="color">color</label>
                            </div>
                            <div class="md-form">
                                <input type="text" id="textcolor" class="form-control" (keyup)="onTextColor($event)">
                                <label for="textcolor">text color</label>
                            </div>

                            <div class="md-form">
                                <textarea type="text" id="description" class="md-textarea form-control" rows="3" (keyup)="onDescription($event)"></textarea>
                                <label for="description">description</label>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!--Footer-->
            <div class="modal-footer flex-center">
                <a (click)="adding_domaine()" class="btn btn-primary ">Confirm</a>
                <a type="button" class="btn btn-outline-primary waves-effect" data-dismiss="modal">Cancel</a>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>
<!--Modal: modalPush-->