<!--The content below is only a placeholder and can be replaced.-->
<header>
    <app-admin-nav></app-admin-nav>
</header>
<div class="container main">
    <router-outlet ></router-outlet>
</div>
<app-admin-footer></app-admin-footer>

