<div class="py-5">
  <div class="container py-5">
    <h1>works</h1>
  </div>

    <div class="row">
        <div class="col-4 mb-2" *ngFor="let project of all_projects">
            <div class="card">

                <!-- Card image -->
                <div class="view overlay">
                    <img class="card-img-top" src="{{image_directory.concat(project.project_image)}}" alt="Card image cap">
                    <a href="{{project.project_btncolor}}">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <!-- Card content -->
                <div class="card-body">

                    <!-- Title -->
                    <h4 class="card-title {{project.project_color}}-text"><strong>{{project.project_title}}</strong></h4>
                    <h6 class="card-title {{project.project_color}}-text"><i class="fa fa-pie-chart"></i> {{project.project_categorie}}</h6>
                    <!-- Text -->
                    <p class="card-text {{project.project_color}}-text">{{project.project_description}}</p>
                    <!-- Button -->
                    <a href="#" class="btn btn-{{project.project_btncolor}} "><i class="fa fa-clone left"></i> {{project.project_link}}</a>

                </div>
            </div>
        </div>
    </div>
    <div class="fixed-action-btn btn-rounded" style="bottom: 65px; right: 24px;" >
        <a class="btn-floating btn-sm red" data-toggle="modal" data-target="#add_projects">
            <i class="fa fa-plus"></i>
        </a>
    </div>
    <!--Modal: modalPush-->
    <div class="modal fade" id="add_projects" tabindex="-1" role="dialog" aria-labelledby="Adding projects"
         aria-hidden="true">
        <div class="modal-dialog modal-notify modal-info modal-lg" role="document">
            <!--Content-->
            <div class="modal-content text-center">
                <!--Header-->
                <div class="modal-header d-flex justify-content-center">
                    <p class="heading">Please write information about this new project</p>
                </div>

                <!--Body-->
                <div class="modal-body">
                    <div class="row">
                        <div class="col-6">
                            <div class="col-md-12 mb-5 " >
                                <div class="card card-image" [style.background-image]="getimage(project_interact.file.name)" >

                                    <!-- Content -->
                                    <div class="text-white text-center d-flex align-items-center {{project_interact.color}} py-5 px-4">
                                        <div>
                                            <h5 class="pink-text"><i class="fa fa-pie-chart"></i> {{project_interact.categorie}}</h5>
                                            <h3 class="card-title pt-2"><strong>{{project_interact.title}}</strong></h3>
                                            <p>{{project_interact.description}}</p>
                                            <a class="btn btn-{{project_interact.btncolor}}" href="{{project_interact.link}}"><i class="fa fa-clone left"></i> View project</a>
                                        </div>
                                    </div>
                                    <!-- Content -->
                                </div>
                                <p class="alert-success">{{adding_message}}</p>
                            </div>
                        </div>
                        <div class="col-5">
                            <form [formGroup]="formGroupProjects" class="form-group" (submit)="addingProjects()">
                                <div class="md-form">
                                    <input type="text" formControlName="categorie" id="categorie" class="form-control" (keyup)="onCategorie($event)">
                                    <label for="categorie">categorie</label>
                                </div>
                                <div class="md-form">
                                    <input type="text" formControlName="title" id="title" class="form-control" (keyup)="onTitle($event)">
                                    <label for="title">title</label>
                                </div>
                                <div class="md-form">
                                    <input type="text" formControlName="color" id="color" class="form-control" (keyup)="onColor($event)">
                                    <label for="color">project color</label>
                                </div>
                                <div class="md-form">
                                    <input type="text" formControlName="link" id="link" class="form-control" (keyup)="onLink($event)">
                                    <label for="link">Link</label>
                                </div>
                                <div class="md-form">
                                    <input type="text" formControlName="btncolor" id="btncolor" class="form-control" (keyup)="onbtnColor($event)">
                                    <label for="btncolor">Bouton color</label>
                                </div>

                                <div class="md-form">
                                    <textarea type="text" formControlName="description" id="description" class="md-textarea form-control" rows="3" (keyup)="onDescription($event)"></textarea>
                                    <label for="description">description</label>
                                </div>
                                <div class="input-group">
                                    <div class="custom-file">
                                        <input formControlName="projectimage" accept="image/*" type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01" (change)="onFile($event)">
                                        <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                                    </div>
                                </div>
                                <button [disabled]="!formGroupProjects.valid" type="submit" class="btn btn-primary ">Confirm</button>
                            </form>
                        </div>
                    </div>
                </div>

                <!--Footer-->
                <div class="modal-footer flex-center">
                    <a type="button" class="btn btn-outline-primary waves-effect" data-dismiss="modal">Cancel</a>
                </div>
            </div>
            <!--/.Content-->
        </div>
    </div>
    <!--Modal: modalPush-->
</div>