<div class="container">

  <!-- Section About -->
  <section id="about" class="section feature-box mb-5">

    <!-- Section title -->
    <h2 class="text-center text-uppercase my-5 pt-5 wow fadeIn" data-wow-delay="0.2s" style="visibility: visible; animation-name: fadeIn; animation-delay: 0.2s;">About <strong>me</strong></h2>

    <p class="text-center w-responsive mx-auto wow fadeIn my-5" data-wow-delay="0.2s" style="visibility: visible; animation-name: fadeIn; animation-delay: 0.2s;">{{user_desc.user_desc}}</p>

    <!-- First row -->
    <div [@listAnimation]="all_domaine.length" class="row features-big text-center wow fadeIn" data-wow-delay="0.4s" style="visibility: visible; animation-name: fadeIn; animation-delay: 0.4s;">

      <!-- First column -->
      <div class="col-md-4 mb-5 " *ngFor="let domaine of all_domaine">

        <!--Panel-->
        <div class="card card-body {{domaine.domaine_color}} hoverable">
          <i class="fa fa-{{domaine.domaine_icon}} text-{{domaine.domaine_textcolor}} fa-3x mb-4" aria-hidden="true"></i>
          <h5 class="font-weight-bold text-uppercase mb-4 text-{{domaine.domaine_textcolor}}">{{domaine.domaine_title}}</h5>
          <p class="text-{{domaine.domaine_textcolor}}">{{domaine.domaine_description}}</p>
        </div>
        <!--/.Panel-->

      </div>
      <!-- /First column -->

    </div>
    <!-- /.First row -->

  </section>
  <!-- /.Second section -->

</div>