<div class="container">

  <!-- Fourth section -->
  <section id="works" class="section mb-5">

    <!-- Section title -->
    <h2 class="text-center text-uppercase my-5 pt-5 wow fadeIn" data-wow-delay="0.2s" style="visibility: visible; animation-name: fadeIn; animation-delay: 0.2s;">My <strong>projects</strong></h2>

    <!-- Section description -->
    <p class="text-center w-responsive mx-auto wow fadeIn my-5" style="visibility: visible; animation-name: fadeIn;">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia iste provident,
        voluptatum voluptatibus aut modi aspernatur autem impedit, eius, debitis earum voluptatem.
        Quaerat hic aspernatur laborum magni earum. At, officiis!
    </p>

   <div class="row">
     <div class="col-4 mb-2" *ngFor="let project of all_projects">
         <div class="card">

             <!-- Card image -->
             <div class="view overlay">
                 <img class="card-img-top" src="{{image_directory.concat(project.project_image)}}" alt="Card image cap">
                 <a href="{{project.project_btncolor}}">
                     <div class="mask rgba-white-slight"></div>
                 </a>
             </div>

             <!-- Card content -->
             <div class="card-body">

                 <!-- Title -->
                 <h4 class="card-title {{project.project_color}}-text"><strong>{{project.project_title}}</strong></h4>
                 <h6 class="card-title {{project.project_color}}-text"><i class="fa fa-pie-chart"></i> {{project.project_categorie}}</h6>
                 <!-- Text -->
                 <p class="card-text {{project.project_color}}-text">{{project.project_description}}</p>
                 <!-- Button -->
                 <a href="#" class="btn btn-{{project.project_btncolor}} "><i class="fa fa-clone left"></i> {{project.project_link}}</a>

             </div>
         </div>
     </div>
    </div>
  </section>
</div>