<!--The content below is only a placeholder and can be replaced.-->
<header>
    <app-navbar></app-navbar>
</header>
<div class="container main">
    <router-outlet #appOutlet="outlet"></router-outlet>
</div>
<app-footer></app-footer>

