<div id="contact" class="container">

  <!--Section: Contact v.2-->
  <section class="section contact-section mt-4 mb-5">
    <!--Section heading-->
    <h2 class="text-center text-uppercase my-5 pt-5 wow fadeIn" data-wow-delay="0.2s" style="visibility: visible; animation-name: fadeIn; animation-delay: 0.2s;">Contact <strong>me</strong></h2>
    <!--Section sescription-->
    <p class="text-center w-responsive mx-auto mb-5 pb-4 wow fadeIn" data-wow-delay="0.2s" style="visibility: visible; animation-name: fadeIn; animation-delay: 0.2s;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum quisquam eum porro a pariatur accusamus veniam. </p>
    <div class="row wow fadeIn" data-wow-delay="0.4s" style="visibility: visible; animation-name: fadeIn; animation-delay: 0.4s;">

      <!--First column-->
      <div class="col-md-8 col-sm-8">
        <form [formGroup]="formGroup" (submit)="SendMessage(formGroup.value)">
          <!--First row-->
          <div class="row">

            <!--First column-->
            <div class="col-md-6">
              <div class="md-form mb-0">
                <div class="md-form mb-0">
                  <input type="text" id="form41" class="form-control" formControlName="name">
                  <label for="form41" class="">Your name</label>
                  <div class="alert_forms" *ngIf="!formGroup.controls['name'].valid && formGroup.controls['name'].touched">{{alert_requier}}</div>
                </div>
              </div>
            </div>
            <!--Second column-->
            <div class="col-md-6">
              <div class="md-form mb-0">
                <div class="md-form mb-0">
                  <input type="text" id="form52" class="form-control" formControlName="email">
                  <label for="form52" class="">Your email</label>
                  <div class="alert_forms" *ngIf="!formGroup.controls['email'].valid && formGroup.controls['email'].touched"><p >{{alert_email}}</p></div>
                </div>
              </div>
            </div>
          </div>
          <!--/.First row-->

          <!--Second row-->
          <div class="row">
            <div class="col-md-12">
              <div class="md-form mb-0">
                <input type="text" id="form51" class="form-control" formControlName="subject">
                <label for="form51" class="">Subject</label>
                <div class="alert_forms" *ngIf="!formGroup.controls['subject'].valid && formGroup.controls['subject'].touched">{{alert_requier}}</div>
              </div>
            </div>
          </div>
          <!--/Second row-->

          <!--Third row-->
          <div class="row">
            <!--First column-->
            <div class="col-md-12">
              <div class="md-form mb-0">
                <textarea type="text" id="form76" class="md-textarea form-control" rows="3" formControlName="message"></textarea>
                <label for="form76">Your message</label>
                <div class="alert_forms" *ngIf="!formGroup.controls['message'].valid && formGroup.controls['message'].touched">{{alert_requier}}</div>
              </div>
            </div>
          </div>
          <div class="text-center text-md-left mt-4"> <button class="btn btn-primary waves-effect waves-light" type="submit" [disabled]="!formGroup.valid">Send</button> </div>

          <!--/.Third row-->
        </form>
        </div>
      <!--.First column-->

      <!--Second column-->
      <div class="col-md-4 col-sm-4">
        <ul class="contact-icons list-unstyled text-center">
          <li><i class="fa fa-map-marker fa-2x red-text"></i>
            <p>Lubumbashi, Fuguier 111, DRC</p>
          </li>
          <li><i class="fa fa-phone fa-2x red-text"></i>
            <p>+243 975 344 824</p>
          </li>
          <li><i class="fa fa-envelope fa-2x red-text"></i>
            <p>axelmwenze@gmail.com</p>
          </li>
        </ul>
      </div>
      <!--.Second column-->
    </div>

  </section>
  <!--/Section: Contact v.2-->

</div>