<mdb-navbar  SideClass="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar {{navbar_config.web_color}}  ">
  <mdb-navbar-brand class="navbar-brand yellow-text" routerLink="">{{navbar_config.web_brand}}</mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>
    <!-- Links -->
    <ul class="navbar-nav mr-auto smooth-scroll">
      <li class="nav-item">
        <a class="nav-link" routerLink="">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="skills" data-offset="100">Skills</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="works" data-offset="100">Works</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="contact" data-offset="100">Contact</a>
      </li>
    </ul>
    <!-- Social Icon  -->
    <ul class="navbar-nav nav-flex-icons">
      <li class="nav-item">
        <a class="nav-link"><i class="fa fa-facebook yellow-text" ></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link"><i class="fa fa-twitter  yellow-text"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link"><i class="fa fa-instagram  yellow-text"></i></a>
      </li>
       <li class="nav-item">
        <a class="nav-link"><i class="fa fa-linkedin  yellow-text"></i></a>
      </li>

    </ul>
    <!-- Links -->

  </links>
</mdb-navbar>