<div class="container-fluid" >
    <div class="container py-5 pt-4">

        <!-- Second section -->
        <section id="skills" class="py-4">

            <!-- First row -->
            <div class="row py-5">

                <!--First column-->
                <div class="col-lg-5 col-md-12 mb-3 wow fadeIn" data-wow-delay="0.4s" style="visibility: visible; animation-name: fadeIn; animation-delay: 0.4s;">

                    <!--Section heading-->
                    <div class="d-flex justify-content-start">
                        <h4 class="text-center text-uppercase mb-5 pb-2 mt-2 wow fadeIn" data-wow-delay="0.2s" style="visibility: visible; animation-name: fadeIn; animation-delay: 0.2s;">My <strong>experience</strong></h4>
                    </div>

                    <!--Description-->
                    <blockquote class="blockquote bq-warning">
                        <ul class="list-group">
                            <li class="list-inline" *ngFor="let items of all_experience">
                                <div >
                                    <div class="row"> <i class="fa fa-briefcase fa-x mr-3 ml-3 dark-grey-text" aria-hidden="true"></i>
                                        <h5 class="font-weight-bold">{{items.exp_title}}</h5>
                                    </div>
                                    <p class="font-weight-bold ml-1 dark-grey-text">{{items.exp_date}}</p>
                                    <p class="light-grey-text">{{items.exp_description}}</p>
                                </div>
                            </li>
                        </ul>
                    </blockquote>

                </div>
                <!--/First column-->

                <!--Second column-->
                <div class="col-lg-5 offset-lg-1 col-md-12 mb-4 wow fadeIn" data-wow-delay="0.4s" style="visibility: visible; animation-name: fadeIn; animation-delay: 0.4s;" [@listAnimation]="all_skills.length">

                    <!--Second heading-->
                    <div class="d-flex justify-content-start">
                        <h4 class="text-center text-uppercase mb-2 pb-3 mt-2 wow fadeIn" data-wow-delay="0.2s" style="visibility: visible; animation-name: fadeIn; animation-delay: 0.2s;">Development <strong>Skills</strong></h4>
                    </div>

                    <ul class="list-group">
                        <li class="list-inline" *ngFor="let item of all_skills">
                            <!--Description-->
                            <p class="black-text text-uppercase font-weight-bold" align="justify">{{item.skills_name}}</p>
                            <div class="progress md-progress" >
                                <div class="progress-bar bg-{{item.skills_color}} w-{{item.skills_pourc}}" role="progressbar" style="height: 20px" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{item.skills_pourc}}%</div>
                            </div>
                        </li>


                    </ul>

                </div>
                <!--/Second column-->

            </div>
            <!--/First row-->

        </section>
        <!-- /.Second section -->

    </div>
</div>