<div class="py-5">
  <div class="container py-5">
    <div class="row py-5">
      <div class="col-md-6 col-lg-5 login-form mx-auto float-none py-5">
        <form [formGroup]="formGroup" (submit)="SendMessage(formGroup.value)">
            <!--Form with header-->
            <div class="card">
                <div class="card-body py-5">

                    <!--Body-->
                    <div class="md-form">
                        <i class="fa fa-user-circle prefix"></i>
                        <input type="text" id="email" class="form-control" formControlName="username">
                        <label for="email">Your email</label>
                        <div class="alert_forms" *ngIf="!formGroup.controls['username'].valid && formGroup.controls['username'].touched">{{alert_username}}</div>

                    <div class="md-form">
                        <i class="fa fa-lock prefix"></i>
                        <input type="password" id="password" class="form-control" formControlName="password">
                        <label for="password">Your password</label>
                        <div class="alert_forms" *ngIf="!formGroup.controls['password'].valid && formGroup.controls['password'].touched">{{alert_password}}</div>

                    <div class="text-center">
                        <button type="submit" class="btn btn-primary" [disabled]="!formGroup.valid">Login</button>
                    </div>

                </div>
            </div>
            <!--/Form with header-->
                </div>
            </div>
        </form>
      </div>
    </div>
  </div>

</div>