<div class="py-5">
  <div class="container py-5">
    <h1 class="text-center">Skills and Experiences</h1>
      <div class="row">
          <div  class="col-6">
              <h1 class="text-primary">Experiences</h1>
               <div id="experience_div">
                 <div class="list-group">
                     <a href="#" class="list-group-item list-group-item-action flex-column align-items-start blue" *ngFor="let exp of all_experiences">
                         <div class="d-flex w-100 justify-content-between">
                             <h5 class="mb-1">{{exp.exp_title}}</h5>
                         </div>
                         <p class="mb-1">{{exp.exp_description}}</p>
                         <small>{{exp.exp_date}}</small>
                     </a>

                 </div>
             </div>
              <a class="btn btn-primary" data-target="#experience_modal" data-toggle="modal">adding Experience</a>
          </div>
          <div  class="col-6">
              <h1 class="text-primary">Skills</h1>
              <div id="skills_div">
                 <ul class="list-group">
                     <li class="list-group-item d-flex justify-content-between align-items-center {{skill.skills_color}}" *ngFor="let skill of all_skills">
                        {{skill.skills_name}}
                         <span class="badge badge-primary badge-pill">{{skill.skills_pourc}}</span>
                     </li>
                 </ul>
             </div>
              <a class="btn btn-primary" data-target="#skills_modal" data-toggle="modal">adding skills</a>
          </div>
      </div>
  </div>
</div>

<div class="modal fade right" id="skills_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-side modal-top-right" role="document">
        <div class="modal-content">
           <form [formGroup]="formGroupSkills" (submit)="addingSkills(formGroupSkills.value)">
               <!--Header-->
               <div class="modal-header">
                   <h4 class="modal-title w-100" >Modal title</h4>
                   <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                       <span aria-hidden="true">&times;</span>
                   </button>
               </div>
               <!--Body-->
               <div class="modal-body">

                   <div class="md-form">
                       <input type="text" id="title" class="form-control"  formControlName="titleskills">
                       <label for="title">Title of skills</label>
                   </div>
                   <div class="md-form">
                       <input type="text" id="pourcentage" class="form-control" formControlName="pourcskills">
                       <label for="pourcentage">pourcentage</label>
                   </div>
                   <div class="md-form">
                       <input type="text" id="color" class="form-control" formControlName="colorskills">
                       <label for="color">Color</label>
                   </div>
                   <p class="text-info h5">{{adding_message_skills}}</p>

               </div>
               <!--Footer-->
               <div class="modal-footer">
                   <button type="submit" class="btn btn-primary"  [disabled]="!formGroupSkills.valid">Save changes</button>
                   <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

               </div>
           </form>
        </div>
    </div>
</div>
<div class="modal fade left" id="experience_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-side modal-top-left" role="document">
        <div class="modal-content">
            <form [formGroup]="formGroupExperience" (submit)="addingExperience(formGroupExperience.value)">
                <!--Header-->
                <div class="modal-header">
                    <h4 class="modal-title w-100" >Modal title</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <!--Body-->
                <div class="modal-body">

                    <div class="md-form">
                        <input type="text" id="titleexp" class="form-control"  formControlName="title">
                        <label for="titleexp">Title of Post</label>
                    </div>
                    <div class="md-form">
                        <input type="text" id="date" class="form-control" formControlName="date">
                        <label for="date">date </label>
                    </div>
                    <div class="md-form">
                        <textarea type="text" id="description" class="md-textarea form-control" rows="3" formControlName="desc"></textarea>
                        <label for="description">description</label>
                    </div>
                    <p class="text-info h5">{{adding_message_exp}}</p>

                </div>
                <!--Footer-->
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary"  [disabled]="!formGroupExperience.valid">Add Experience</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                </div>
            </form>
        </div>
    </div>
</div>
