#skills_div, #experience_div{
  overflow-y: scroll;
  height: 35em;
}
.alert_forms {
  padding: 7px;
  font-size: .9em;
  margin-bottom: 20px;
  display: inline-block;
  animation: 1s alertAnim forwards;
  color: #CC0000;
  font-family: Robot, serif;
}
@keyframes alertAnim {
  from{
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
