<mdb-navbar  SideClass="navbar navbar-expand-lg navbar-light fixed-top scrolling-navbar white">
  <mdb-navbar-brand class="navbar-brand" ><a class="navbar-brand red-text bold" routerLink="/admin_porto">Dash</a> </mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>
    <!-- Links -->
    <ul class="navbar-nav mr-auto smooth-scroll">
      <li class="nav-item">
        <a class="nav-link" routerLink="domaine">Domaines<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="skills" data-offset="100">Skills pages</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="works" data-offset="100">Works pages</a>
      </li>

    </ul>
    <!-- Social Icon  -->
    <ul class="navbar-nav ">
        <li class="nav-item">
            <a class="nav-link blue-grey-text" routerLink="preferences" data-offset="100">{{currentUser.user_email}}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link red-text" routerLink="logout" data-offset="100" (click)="logout()">Logout</a>
        </li>
    </ul>
    <!-- Links -->
  </links>
</mdb-navbar>