<footer class="page-footer font-small {{footer_config.web_color}} fixed-bottom">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
        <a routerLink=""> {{footer_config.web_brand}}</a>
    </div>
    <!-- Copyright -->
</footer>